/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@charset "UTF-8";

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    height: 100%; 
}

/*  Acessibilidade */
a:not(.lb-nav a):focus, .button:focus, .toggle:focus, #name:focus, #email:focus, #comment:focus{
    outline: rgb(54, 204, 204);
    -webkit-box-shadow: 0px 0px 3px 3px rgb(54, 204, 204);
    box-shadow: 0px 0px 3px 3px rgb(54, 204, 204);
}

/*   HOME.HTML  */

.div-background{
    min-height: 100vh;
    background-image: url(../images/home_wallpaper.jpg);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*    HEADER   */

.header-container{
    text-align: left;
}

.navbar{
    background-color: #3a3a3a;
    display: none;
}

.header-div-phone a{
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
}

.icon-phone{
    margin-left: 0.5em;
}

.icon-phone, .header-div-phone a, .phone-text{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    padding: 0.35em 0.5em 0.35em 0;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

/*  Menu Mobile */

.c-toogle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}

.c-toggle-link{
    max-width: 25%;
    margin-top: 1.5em;
    text-align: center;
}

.icon-menu2{
    font-size: 1.125em;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.toggle{
    border: 2px solid rgb(255,255,255);
    cursor: pointer;
    background-color: transparent;
    margin-top: 1.25em;
    padding: 0.5em;
    color: rgb(44, 44, 44);
    font-weight: bold;
}

.toggle:hover{
    background-color: rgb(60, 112, 108);
    color: rgb(255, 255, 255);
}

.header-logo{
    max-width: 100%;
}

/* MENU  */

.menu-nav { 
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.menu-nav a{
    
    display: block;
    text-decoration: none;
    padding: 1.125em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.8125em;
}


/*   MAIN: HOME   */

.screenreader-text {   /* acessível a leitores de tela*/
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.section-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 63vh;
    margin-top: .55em;
}

.section-content-title{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px black;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3em;
}

.section-content-text{
    text-align: center;
    font-size: 2.8125em;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
}

.section-content-links{
    margin:0;
    padding: 0;
    list-style: none;
}

.section-content-links li { 
    display: inline-block;
}

.icon-facebook, .icon-instagram{
    display: block;
    margin: 0.75em 1em;
    text-decoration: none;
    font-size: 1.1em; 
    border-radius: 50%;
    padding: 0.625em;
    color: rgb(192, 48, 23);
    background-color:rgb(255,255,255);
}


.menu-nav a:hover, .icon-facebook:hover, .icon-instagram:hover, .header-div-phone a:hover{
    background-color: rgb(52, 146, 153);
    color: rgb(255,255,255);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*  SERVICES.HTML  HEADERS */

.header-div-phone, .header-div-safe{
    text-align: center;
    width: 100%;
    padding: 0.75em;
}

.header-div-phone{
    background-color: rgb(42, 97, 101);
}

.icon-location{
    text-align: center;
    vertical-align: middle;
}

.top-background{
    background: -o-linear-gradient(300deg, #222222, #585858);
    background: linear-gradient(150deg, #222222, #585858);
    background-color: rgb(41, 41, 41);
}


/* SERVICES.HTML MAIN */

.section-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 1.5em;
}

.section-container-title{
    color: rgb(255, 255, 255);
}

.section-content-text{
    font-size: 2.75em;
}

.section-container-effect{
    display: block;
    width: 45%;
    border-top: 5px solid rgb(192, 48, 23);
}

.section-container-title-text{
    font-size: 1em;
    width: 45%;
    line-height: 1.5;
    margin: 1.25em;
    color: rgb(255, 255, 255);
}

.first-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

img {
        
    min-height: 70%;
    max-width: 70%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: bottom;
}

.article-container-item{
    text-align: center;
    max-width: 100%;
    min-height: auto;
    padding: 0.75em 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: rgba(43, 43, 43, 0.801);
}

.col-1, .row-2-container,.row-3-container, .col-4{
    -webkit-box-shadow: rgba(15, 15, 15, 0.616) 1px 2px 4px 1px, rgba(24, 24, 24, 0.562) 2px 2px 10px 2px;
            box-shadow: rgba(15, 15, 15, 0.616) 1px 2px 4px 1px, rgba(24, 24, 24, 0.562) 2px 2px 10px 2px;
}

.col-1, .col-2, .col-4{
    margin: 2.5em;
}
.row-3-container{
    margin: 2em;
}

/*  SERVICES.HTML  */

.col-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 80%;
    min-height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.exterior-service{ 
    max-width: 100%;
    min-height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.col-1-item{
    max-width: 100%;
    min-height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.col-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    min-height: auto;
    margin: 1.125em 0.75em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.row-2-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80%;
    min-height: auto;
}

.interior-service{
    max-width: 100%;
    min-height: auto;
}

.row-2-item{
    max-width: 100%;
    min-height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.row-2-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    min-height: auto;
}

.row-3-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80%;
    min-height: auto;
    margin-top: 2em;
}

.carpentry-services{
    max-width: 100%;
    min-height: auto;
}

.woodwork-services{
    max-width: 100%;
    min-height: auto;
}

.first-item a{
    display: block;
    max-width: 100%;
    min-height: auto;
}

.col-4{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 75%;
    min-height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.specialty-service{
    max-width: 100%;
    min-height: auto;
}

.col-4-item{
    max-width: 100%;
    min-height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.article-container-title{
    font-weight: 600;
    font-size: 1.625em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

.article-container-title-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 2;
    color: rgb(255, 255, 255);
}

.article-container-title-aviso{
    color: rgb(255, 255, 255);
    font-size: 0.75em;
}

/*   Gallery.html  */

.section-container-subtitle{
    font-size: 1.25em;
    color: rgb(221, 221, 221);
    margin-bottom: 2em;
    width: 65%;
}

.div-container {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;  
    -webkit-box-orient: horizontal;  
    -webkit-box-direction: normal;  
        -ms-flex-direction: row;  
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
}
    
.div-container-box {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin: 1em;
}

.div-container-img {
    max-width: 250px;
    min-height: 220px;
}

.div-container-link{
    text-decoration: none;
    display: block;
}

.div-container-link:hover{   
    -webkit-box-shadow: rgba(22, 22, 22, 0.596) 1px 2px 4px 4px, rgba(22, 22, 22, 0.65) 3px 2px 3px 2px;   
            box-shadow: rgba(22, 22, 22, 0.596) 1px 2px 4px 4px, rgba(22, 22, 22, 0.65) 3px 2px 3px 2px;
}


/*  CONTACT.HTML   */


.div-container-contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.article-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-top: 1.5em; 
    margin-bottom: 1em;
    background-color: rgba(41, 41, 41, 0.438);
}

.article-content-subtitle{
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    word-spacing: 0.1em;
    text-align: center;
}

fieldset {
    border: none;
}

.divLinha{
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: left;
}

input[type="text"], input[type="email"], textarea{
    border: none;
    padding: 0.75em;
    background-color: rgba(141, 141, 141, 0.550);
}

.divLinha label{
    font-size: 1.125em;
    color: rgb(255, 255, 255);
}

#name, #email, #cep{
    width: 100%;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 0.25em;
    color: rgb(255,255,255);
}

#comment{
    width: 100%;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.25em;
    color: rgb(255,255,255);
}

.comment-span{
    color: rgb(255,255,255);
    font-size: 0.8125em;
}

.comment-span-link{
    color:#e7762b;
    text-decoration:underline;
}

.div-button{
    text-align: center;
}

.button{
    max-width: 100%;
    text-transform: uppercase;
    word-spacing: 0.1em;
    margin: 1em;
    font-size: 1.125em;
    color:rgb(255, 255, 255);
    background-color: rgb(192, 48, 23);
    font-weight: bold;
    padding: 1.125em 1em;
    text-align: center;
    cursor: pointer;
    border: none;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}

.button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(62, 137, 143);
}

.ender-content{
    margin: 0.625em 0.3125em;
    font-style: normal;
}

.ender{
    margin-bottom: 1.25em;
}

.ender span{
    font-weight: bold;
    display: block;
    color:rgb(255, 255, 255);
    margin: 0.625em auto 0.9375em auto;
    text-transform: uppercase;
}

.ender p{
    color: rgb(255, 255, 255);
}

.ender-social{
    padding: 0.1875em 0.625em;
    text-transform: capitalize;
}

.ender-mail, .ender-phone, .ender-social{
    text-decoration: none;
    color: #e7762b;
    vertical-align: middle;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}

.ender-mail:hover, .ender-social:hover, .ender-phone:hover{
    color: rgb(67, 174, 182);
    border: none;
}

iframe{
    padding: 0.75em;
    width: 75%;
}

/* ABOUT */

.container-about{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    margin: 2em;
}

.container-about img{
    height: 345px;
    -webkit-box-shadow: rgba(28, 28, 29, 0.575) 5px 7px 29px 5px;
            box-shadow: rgba(28, 28, 29, 0.575) 5px 7px 29px 5px;
}

.container-about-company{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 350px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: 2px solid transparent;
    -o-border-image:-o-linear-gradient(45deg,rgba(8, 109, 100, 0.452), #2364649f, rgba(31, 129, 136, 0.685)) 10;
       border-image:linear-gradient(45deg,rgba(8, 109, 100, 0.452), #2364649f, rgba(31, 129, 136, 0.685)) 10;
    background-color:rgb(27, 27, 27);
    -webkit-box-shadow: rgba(28, 28, 29, 0.2) 5px 7px 29px 5px;
            box-shadow: rgba(28, 28, 29, 0.2) 5px 7px 29px 5px;
}

.container-about-company:hover {
    -o-border-image:-o-linear-gradient(45deg,rgb(121, 168, 162), #3fbba6, rgb(12, 205, 219)) 10;
       border-image:linear-gradient(45deg,rgb(121, 168, 162), #3fbba6, rgb(12, 205, 219)) 10;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.container-about-company-title{
    color: #e7762b;
}

.container-about-text{
    max-width: 85%;
    color: white;
    font-size: 1em;
    line-height: 1.6;
}

.icon-paint-format, .icon-hour-glass , .icon-bullhorn{
    color: rgb(207, 50, 22);
    padding: 0.35em;
    font-size: 1em;
}

/*   FOOTER: ALL PAGES */

footer{
    margin: auto auto 0 auto;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 15vh;
    text-align: center;
}

.footer-content-site, .footer-content-rights {
    font-size: 0.75em;
    color: rgb(255, 255, 255);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.footer-content-design{
    text-decoration: none;
    background-color: rgb(44, 44, 44);
    color: #e7762b;
}

.link-gallery{
    text-decoration: none;
    color: #e7762b;
    padding: 1em 0.5em;
}

.footer-content-design:hover, .link-gallery:hover {
    color: rgb(67, 174, 182);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* Media Queries acima de 400px até 800px */

@media screen and (min-width: 25em) and (min-height: 55em){

    .header-logo{
        max-width: 80%;
    }
}


/* Media Queries acima de 600  até 767x */

@media screen and (min-width: 37.5em) and (max-width: 47.9375em) {

    .header-logo{
        max-width: 60%;
    }

    .section-content{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-content{
        height: 25vh;
    }

}


/*  Media Queries acima de 766px até 864px  */


@media screen and (min-width: 47.875em) and (max-width: 107.5625em) {

    .header-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 2.125em;
    }
    
    .navbar {
        background-color: transparent;
    }

    .menu-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    
    .menu-nav a {
        font-size: 0.75em;
        vertical-align: middle;
        text-align: center;
    }
      
    .phone-text, .header-div-phone a{
        font-size: 0.8125em;  
    }

    .icon-phone{
        font-size: 1em;
        margin-left: 0.625em;
        max-width: 35%;
    }

    .section-content-title{
        font-size: 3.125em;
        margin-top: 0;
        margin-bottom: 0.5em;
        font-family: 'Lato', sans-serif;
    }

    .section-content-text{
        font-size: 2.75em;
        color: rgb(255, 255, 255);
        font-family: 'Dancing Script', cursive;
        text-transform: initial;
    }


    /*  SERVICES.HTML  */
   

    .first-container{ 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 785px;
        margin: 0;
    }

    .col-1, .col-4{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; 
        width: 850px;
        height: 500px;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .exterior-service{
        width: 100%; 
        height: 100%;
    }

    .col-1-item{
        width: 100%;
        height: 100%;
    }

    .col-2{
        width: 98%;
        height: 100%;
        margin: 0.25em;
    }

    .row-2-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .interior-service{
        max-width: 50%;
        height: 470px;
        min-width: 100%;
        max-height: auto;
    }

    .row-2-item{
        max-width: 50%;
        height: 470px;   
    }

    .row-2-content{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 1em;
        width: 82%;
    }

    .row-3-container{
        width: 95%;
        height: 100%;
        margin: 0.5em;
    }

    .carpentry-services{
        width: 100%;
        height: 200px;
        max-width: 100%;
        min-height: 210px;
    }

    .woodwork-services{
        height: 210px;
    }
    
    .specialty-service{
        width: 900px;
        height: 100%;
    }
    
    .col-4-item{
        width: 85%;
        height: 100%;
    }

    .article-container-title{
        font-size: 1.25em;
    }
    
    .article-container-title-text{
        font-size: 0.9em;
        max-width: 96%;
        text-align: left;
    }

    .link-gallery{
        font-size: 1em;
        margin: 0.625em;
        -ms-flex-item-align: end;
            align-self: flex-end;
    }

    .div-container-contact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

} 


/*  Media Queries acima de 768px  */

@media screen and (min-width: 48em){


    .header-logo{
        max-width: 100%;
    }

    .toggle{    
        display: none;
    }

    .header-nav{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-right: 1em;
    }
    
    .navbar {
        background-color: transparent;
        display: block;
        width: 65%;
    }

    .menu-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    
    .menu-nav a {
        font-size: 0.75em;
        font-weight: 600;
        vertical-align: middle;
        text-align: center;
    }

    .c-toggle-link{
        max-width: 35%;
    }
      
    .phone-text, .header-div-phone a{
        font-size: 1em;  
    }

    .icon-phone{
        font-size: 1em;
        margin-left: 0.625em;
        max-width: 35%;
    }

    .col-1{
        
        max-width: 90%;
        min-height: auto;
        margin: 1em 0.75em;
    }
    
    .exterior-service{
        width: 400px;
        height: 500px;

    }

    .col-1-item{
        max-width: 48%;
        min-height: auto;
    }
    

    .row-2-container{
        max-width: 95%;
        min-height: auto;
    }

    .interior-service{

        max-width: 40%;
    }

    .row-2-item{
        max-width: 50%;
    }

    .col-4{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 640px;
        height: 500px;
        max-width: 100%;
        min-height: auto;
    }
    
    .specialty-service{
        width: 583px;
    }

    .col-4-item{
        width: 78%;
        height: 100%;
    }

    .container-about{
    
        display: -webkit-box;
    
        display: -ms-flexbox;
    
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 800px;
        height: 500px;
    }

    .container-about img  {
        width: 330px;
        height: 375px;
        -webkit-box-shadow: rgba(28, 28, 29, 0.2) 5px 7px 15px 5px;
                box-shadow: rgba(28, 28, 29, 0.2) 5px 7px 15px 5px;
    }

    .container-about-text{
        width: 90%;
        color: white;
        line-height: 2;
        font-size: 1em;
    }

    .container-about-company{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 45%;
        height: 375px;
        background-color: #2b2b2b;     
        -webkit-box-shadow: rgba(28, 28, 29, 0.2) 5px 7px 29px 5px;     
                box-shadow: rgba(28, 28, 29, 0.2) 5px 7px 29px 5px;
    }

    .div-container-contact{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 80%;
    }

    .article-content{
        width: 45%; 
        background-color: transparent;
    }

    .div-button{
        text-align: left;
    }

    iframe{
        width: 100%;
    }

    .footer-content{
        height: 20vh;
    }
     
    
}



/* MEDIA QUERIES DE 784 PX */


@media screen and (min-width: 49em){

    .section-content{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        height: 45vh;
    }

}


/* MEDIA QUERIES DE 800 PX  ATÉ 1280PX*/


@media screen and (min-width: 50em) and (min-height: 80em){

    .icon-phone, .header-div-phone a, .phone-text{
        font-size: 1em;
    }

    .menu-nav a{
        font-size: 0.8em;
    }

    .section-content-title{
        font-size: 4.5em;
    }

    .section-content-text{
        font-size: 3.75em;
    }

    .icon-facebook, .icon-instagram{
        font-size: 1.5em;
    }
    .footer-content{
        height: 40vh;
    }

}



/* MEDIA QUERIES DE 1200 PX  ATÉ 1600PX*/

@media screen and (min-width: 75em) and (max-width: 107.5625em){

    .icon-phone, .header-div-phone a, .phone-text{
        font-size: 1em;
    }

    .menu-nav a{
        font-size: 1em;
    }

    .section-content-title{
        font-size: 4.5em;
    }

    .section-content-text{
        font-size: 3.5em;
    }

    .icon-facebook, .icon-instagram{
        font-size: 1.5em;
    }

    .footer-content{
        height: 35vh;
    }

    .div-container-contact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}


/* MEDIA QUERIES A PARTIR DE 1722PX */


@media screen and (min-width: 107.625em) {

    /* index.html*/

    .menu-nav a{
        font-size: 1em;
    }

    .section-content{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    
    .footer-content{
        height: 40vh;
    }

    .section-content-title{
        font-size: 5.5em;
    }

    .section-content-text{
        font-size: 4.25em;
    }


    /* services.html */


    .first-container{
        width: 90%;
    }

    .col-1, .col-4{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 1200px;
        height: 800px;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .exterior-service{
        width: 750px;
        height: 800px;
    }

    .col-1-item{
        max-width: 45%;
        height: 100%;
    }

    .row-2-container{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 1500px;
        height: 950px;
    }

    .interior-service{
        max-width: 100%;
        height: 950px;
    }

    .row-2-item{
        max-width: 45%;
        height: 100%;  
    }

    .row-2-content{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 1em;
        width: 82%;
    }

    .row-3-container{
        width: 900px;
        max-height: 100%;
        margin: 2.5em;
    }

    .carpentry-services{
        width: 850px;
        height: 700px;
    }

    .woodwork-services{
        width: 850px;
        height: 700px;
    }
    
    .specialty-service{
        width: 750px;
        height: 800px;
    }
    
    .col-4-item{
        max-width: 45%;
        height: 100%;
    }

    .article-container-item{ 
       -webkit-box-pack: center; 
           -ms-flex-pack: center; 
               justify-content: center;
    }

    .article-container-title{
        text-align: center;
    }
    
    .article-container-title-text{
        max-width: 93%;
        padding: 0.25em 0.75em;
    }

    .link-gallery{
        font-size: 1em;
        margin: 0.625em;
        -ms-flex-line-pack: end;
            align-content: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    }

    .div-container-contact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

}


/* MEDIA QUERIES A PARTIR DE 1920PX */


@media screen and (min-width: 1910px){

    .div-container-contact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    
}
